http_interactions:
- request:
    method: get
    uri: https://pleiades.stoa.org/api/places/462471/json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      etag: '"||*/*;application/json;text/xml;application/xml|6807055|en|0|Notre Dame-gzip"'
      content-type: application/json; charset=utf-8
      x-varnish-cache: HIT
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
            "features": [
                {
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            15.413438,
                            38.170558
                        ]
                    },
                    "type": "Feature",
                    "id": "darmc-location-7923",
                    "properties": {
                        "snippet": "Unknown; 550 BC - AD 640",
                        "link": "https://pleiades.stoa.org/places/462471/darmc-location-7923",
                        "description": "500K scale point location",
                        "location_precision": "precise",
                        "title": "DARMC location 7923"
                    }
                }
            ],
            "contributors": [
                {
                    "username": null,
                    "name": "DARMC"
                },
                {
                    "username": null,
                    "name": "R. Talbert"
                },
                {
                    "username": "sgillies",
                    "homepage": null,
                    "name": "Sean Gillies",
                    "uri": "https://pleiades.stoa.org/author/sgillies"
                },
                {
                    "username": "thomase",
                    "homepage": null,
                    "name": "Tom Elliott",
                    "uri": "https://pleiades.stoa.org/author/thomase"
                },
                {
                    "username": "jbecker",
                    "homepage": null,
                    "name": "Jeffrey Becker",
                    "uri": "https://pleiades.stoa.org/author/jbecker"
                }
            ],
            "locations": [
                {
                    "contributors": [
                        {
                            "username": null,
                            "name": "DARMC, R. Talbert, T. Elliott, S. Gillies"
                        }
                    ],
                    "associationCertainty": "certain",
                    "attestations": [
                        {
                            "timePeriod": "classical",
                            "timePeriodURI": "https://pleiades.stoa.org/vocabularies/time-periods/classical",
                            "confidence": "confident",
                            "confidenceURI": "https://pleiades.stoa.org/vocabularies/attestation-confidence/confident"
                        },
                        {
                            "timePeriod": "hellenistic-republican",
                            "timePeriodURI": "https://pleiades.stoa.org/vocabularies/time-periods/hellenistic-republican",
                            "confidence": "confident",
                            "confidenceURI": "https://pleiades.stoa.org/vocabularies/attestation-confidence/confident"
                        },
                        {
                            "timePeriod": "late-antique",
                            "timePeriodURI": "https://pleiades.stoa.org/vocabularies/time-periods/late-antique",
                            "confidence": "confident",
                            "confidenceURI": "https://pleiades.stoa.org/vocabularies/attestation-confidence/confident"
                        }
                    ],
                    "references": [
                        {
                            "alternateURI": "",
                            "accessURI": "https://darmc.harvard.edu/",
                            "citationDetail": "7923",
                            "citationTypeURI": "https://pleiades.stoa.org/vocabularies/feature-type/citesAsDataSource",
                            "shortTitle": "DARMC",
                            "bibliographicURI": "https://www.zotero.org/groups/2533/pleiades/items/itemKey/9UD9W75C",
                            "formattedCitation": "Michael McCormick, Giovanni Zambotti, Leland Grigoli, and Kelly Gibson, eds., The Digital Atlas of Roman and Medieval Civilizations (Cambridge (Massachusetts): Harvard University, 2007-), 7923.",
                            "otherIdentifier": " ",
                            "type": "citesAsDataSource"
                        }
                    ],
                    "id": "darmc-location-7923",
                    "featureTypeURI": [
                        "https://pleiades.stoa.org/vocabularies/place-types/unknown"
                    ],
                    "end": 640,
                    "title": "DARMC location 7923",
                    "provenance": "DARMC OBJECTID: 7923",
                    "associationCertaintyURI": "https://pleiades.stoa.org/vocabularies/association-certainty/certain",
                    "start": -550,
                    "locationTypeURI": [
                        "https://pleiades.stoa.org/vocabularies/place-types/unknown"
                    ],
                    "archaeologicalRemains": "unknown",
                    "details": "DARMC OBJECTID: 7923",
                    "review_state": "published",
                    "accuracy_value": null,
                    "accuracy": "https://pleiades.stoa.org/features/metadata/darmc-a",
                    "featureType": [
                        "unknown"
                    ],
                    "description": "500K scale point location",
                    "created": "2011-03-09T19:56:35Z",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            15.413438,
                            38.170558
                        ]
                    },
                    "locationType": [
                        "representative"
                    ],
                    "uri": "https://pleiades.stoa.org/places/462471/darmc-location-7923",
                    "creators": [
                        {
                            "username": null,
                            "name": "R.J.A. Wilson"
                        }
                    ],
                    "@type": "Location",
                    "history": [
                        {
                            "comment": "Global migration and reindexing of citations and provenance, February 2012",
                            "modifiedBy": "admin",
                            "modified": "2012-02-15T05:23:26Z"
                        },
                        {
                            "comment": "New locations, coordinates, and metadata from Harvard's DARMC project. See http://atlantides.org/trac/pleiades/wiki/PlaceUpgradesAndMigrations",
                            "modifiedBy": "sgillies",
                            "modified": "2011-03-09T19:56:36Z"
                        }
                    ]
                }
            ],
            "connections": [
                {
                    "end": null,
                    "description": "",
                    "contributors": [],
                    "created": "2016-07-13T13:45:53Z",
                    "associationCertainty": "certain",
                    "title": "Sicilia (island)",
                    "start": null,
                    "provenance": "Pleiades",
                    "uri": "https://pleiades.stoa.org/places/462471/462492",
                    "connectionType": "connection",
                    "id": "462492",
                    "attestations": [],
                    "history": [],
                    "connectsTo": "https://pleiades.stoa.org/places/462492",
                    "details": "",
                    "references": [],
                    "review_state": "published",
                    "creators": [
                        {
                            "username": "admin",
                            "homepage": null,
                            "name": "",
                            "uri": "https://pleiades.stoa.org/author/admin"
                        }
                    ],
                    "@type": "Connection",
                    "connectionTypeURI": "https://pleiades.stoa.org/vocabularies/relationship-types/connection"
                }
            ],
            "references": [
                {
                    "alternateURI": "",
                    "accessURI": "",
                    "citationDetail": "",
                    "citationTypeURI": "https://pleiades.stoa.org/vocabularies/feature-type/seeFurther",
                    "shortTitle": "",
                    "bibliographicURI": "http://openlibrary.org/works/OL8327792W",
                    "formattedCitation": "BAtlas 47 G2 Rometta",
                    "otherIdentifier": " ",
                    "type": "seeFurther"
                },
                {
                    "alternateURI": "",
                    "accessURI": "",
                    "citationDetail": "",
                    "citationTypeURI": "https://pleiades.stoa.org/vocabularies/feature-type/seeFurther",
                    "shortTitle": "",
                    "bibliographicURI": "http://atlantides.org/bibliography/r.html#R.J.A-Wilson",
                    "formattedCitation": "R.J.A Wilson",
                    "otherIdentifier": "",
                    "type": "seeFurther"
                }
            ],
            "names": [],
            "id": "462471",
            "subject": [
                "dare:major=0",
                "dare:ancient=0",
                "dare:feature=villa"
            ],
            "title": "Rometta",
            "provenance": "Barrington Atlas: BAtlas 47 G2 Rometta",
            "placeTypeURIs": [
                "https://pleiades.stoa.org/vocabularies/place-types/villa"
            ],
            "details": "The Barrington Atlas Directory notes: Rometta",
            "@context": {
                "snippet": "dcterms:abstract",
                "rights": "dcterms:rights",
                "description": "dcterms:description",
                "title": "dcterms:title",
                "dcterms": "http://purl.org/dc/terms/",
                "subject": "dcterms:subject",
                "uri": "@id",
                "created": "dcterms:created"
            },
            "review_state": "published",
            "type": "FeatureCollection",
            "description": "An ancient place, cited: BAtlas 47 G2 Rometta",
            "reprPoint": [
                15.413438,
                38.170558
            ],
            "placeTypes": [
                "villa"
            ],
            "bbox": [
                15.413438,
                38.170558,
                15.413438,
                38.170558
            ],
            "connectsWith": [
                "https://pleiades.stoa.org/places/462492"
            ],
            "rights": "Copyright © The Contributors. Sharing and remixing permitted under terms of the Creative Commons Attribution 3.0 License (cc-by).",
            "created": "2010-11-11T15:14:28Z",
            "uri": "https://pleiades.stoa.org/places/462471",
            "creators": [
                {
                    "username": null,
                    "name": "R.J.A. Wilson"
                }
            ],
 [...]
